<html>
  <head>
    <title>L＊L</title>

    <link rel="shortcut icon" href="img/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="index.css" />

  </head>
  <body>
    <div id="mainContainer">

      <div id="topSpace">
      </div>

      <div id="LLLogo">
      </div>

      <div>
      </div>

      <div id="introText">
        <p class="block">
          <span class="LL">L＊L</span> is a multidisciplinary collaboration between <a href="http://www.lohzhide.info">Loh Zhide</a> and <a href="http://www.matthewlimkewei.com">Matthew Lim</a> that criss-crosses design, art and technology. We are interested in creating participatory experiences that invite people to engage, question and wonder.
        </p>

        <p class="block">
          We are currently working on our <a href="http://www.singaplural.com/admission/">Singaplural</a> project, <a href="http://www.singaplural.com/platform/stored-value-by-loh-zhide--lim-ke-wei-matthew/">Stored Value</a>. We hope to see you there!
        </p>

        <p class="block">
          Follow us on <a href="https://www.facebook.com/LasteriskL">Facebook</a> and <a href="https://www.instagram.com/l.asterisk.l/">Instagram</a> to be updated on our latest shenanigans. If social media isn't your thing, <a href="mailto:elasteriskel@gmail.com">email</a> us!
        </p>

      </div>

    </div>

    <script src="jquery.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
